.menu nav {
    width: 70px;
    height: 100vw;

    display: flex;
    flex: 0 1 0%;
    background: rgb(6, 6, 75);

    section {
        margin: 0 auto;
    }
    
    transition: all 0.5s;
    &:hover {
        width: 250px;
        transition: all 0.5s;

        justify-content: center;
    }
}
